body {
    background-color: #000;
    color: #fff;
}

#title {
    font-size: 6rem;
    position: absolute;
    z-index: 20;
}

#globe {
    position: relative;
    height: 24rem;
    width: 24rem;
    margin: auto;
    background: url(../images/map.jpg) 0 0 repeat;
    border-radius: 50%;
    background-size: 48rem;
    animation: rotate 18s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 80px 24px rgb(0, 0, 0);
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 48rem 0;
    }

}