body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* Neon */

.neon {
    color: #1F51FF;
}

.neon-border {
    border: 4px solid #1F51FF;
}

.neon-border-top {
    border-top: 4px solid #1F51FF;
}

.neon-border-bottom {
    border-bottom: 4px solid #1F51FF;
}

.neon-glow {
    box-shadow: 0 0 25px 5px #1F51FF;
}

.neon-small-glow {
    box-shadow: 0 0 5px 5px #1F51FF;
}

.neon-ul {
    text-decoration-line: underline;
    text-decoration-color: #1F51FF;
}

.btn-hover:hover {
    color: #0ff;
    border-color: #0ff;
    box-shadow: 0 0 25px 5px #0FF;
}

/* Header */

.title-font {
    font-family: 'Orbitron', sans-serif;
}

#globe-container {
    position: relative;
    height: 90vh;
    background: url(../images/space.jpg) repeat center center;
    z-index: -1;
    
}

#title {
    position: relative;
    top: -2rem;
    font-size: 4rem;
    z-index: 20;
}

#globe {
    position: absolute;
    top: 15%;
    left: calc(50% - 12rem);
    height: 24rem;
    width: 24rem;
    margin: auto;
    background: url(../images/map.jpg) 0 0 repeat;
    border-radius: 50%;
    background-size: 48rem;
    animation: rotate 18s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 80px 24px rgb(0, 0, 0);
    z-index: 15;
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 48rem 0;
    }

}

/* Nav */

nav {
    background-color: #000;
}

nav a {
    color: #1F51FF;
}

nav a:hover {
    color: #0ff;
}

nav .active {
    color: #0ff;
}

/* About Me */

#about-section {
    background: url(../images/about-code.jpg) no-repeat center center;
    background-size: cover;
}

#about-section h2 strong,
#about-section h3 strong,
#about-section h4 strong {
    background: #000;
}

.dark-back {
    background-color: rgba(0, 0, 0, 0.45);
}

#about-section p,
#about-section li {
    font-size: 1rem;
    font-weight: 600;
}

#profile-img {
    height: 250px;
    width: 250px;
}

/* Projects */

#project-card {
    margin: 2rem 13%;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.70);
}

#iceland {
    background: url(../images/iceland/iceland-back.png) no-repeat center center;
    background-size: cover;
}

#pbc {
    background: url(../images/pbc/pbc-back.png) no-repeat center center;
    background-size: cover;
}

#monty {
    background: url(../images/monty/monty-back.png) no-repeat center center;
    background-size: cover;
}

#showcase {
    background: url(../images/showcase/showcase-back.jpg) no-repeat center center;
    background-size: cover;
}

#tripp {
    background: url(../images/tripp/tripp-back.png) no-repeat center center;
    background-size: cover;
}

#port {
    background: url(../images/port/protfolio-back.png) no-repeat center center;
    background-size: cover;
}

.logo {
    width: 1rem;
    height: 1rem;
}

#carousel-wrapper {
    position: relative;
    overflow: hidden;
}

#carousel-container {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* Hide the scroll bar */
    scrollbar-width: none; /* Firefox */
}

/* Hide the scroll bar */
/* WebKit */
#carousel-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.carousel-arrow {
    background: rgba(0, 0, 0, 0.60);
    position: absolute;
    display: flex;
    top: calc(50% - 22px);
    z-index: 1;
}

.carousel-arrow:hover {
    color: #0ff;
    border-color: #0ff;
    box-shadow: 0 0 25px 5px #0FF;
}

#arrow-prev {
    left: 15px;
}

#arrow-next {
    right: 15px;
}
 